html(lang="en-us")
  head
    include /inc/meta.jade
    title Wedding Ceremony Music Player
  body#top
    //- Begin Page-Specific Content

    #jquery_jplayer_1.jp-jplayer
    #jp_container_1
      #bg_1.background
        h3 Bob's Entrance
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_1.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_1 Fade Out

        img(src="img/checkmark.svg")

    #jquery_jplayer_2.jp-jplayer
    #jp_container_2
      #bg_2.background
        h3 Amy's Entrance
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_2.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_2 Fade Out

        img(src="img/checkmark.svg")

    br
    hr
    br

    #jquery_jplayer_3.jp-jplayer
    #jp_container_3
      #bg_3.background
        h3 Star Trek Intro
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_3.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_3 Fade Out

        img(src="img/checkmark.svg")
          
    br
    hr
    br

    #jquery_jplayer_4.jp-jplayer
    #jp_container_4
      #bg_4.background
        h3 Background 1
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_4.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_4 Fade Out

        img(src="img/checkmark.svg")

    #jquery_jplayer_5.jp-jplayer
    #jp_container_5
      #bg_5.background
        h3 Background 2
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_5.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_5 Fade Out

        img(src="img/checkmark.svg")

    #jquery_jplayer_6.jp-jplayer
    #jp_container_6
      #bg_6.background
        h3 Background 3
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_6.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_6 Fade Out

        img(src="img/checkmark.svg")

    br
    hr
    br

    #jquery_jplayer_7.jp-jplayer
    #jp_container_7
      #bg_7.background
        h3 Recessional
        .jp-current-time
        .jp-duration
        ul
          li.jp-play.ui-state-default.ui-corner-all
            a#play_7.jp-play.ui-icon.ui-icon-play(href="javascript:;" tabindex="1" title="play") play
          li
            button#fadeout_7 Fade Out

        img(src="img/checkmark.svg")


    //- END Page-Specific Content
    include /inc/scripts.jade
