html(lang="en-us")
  head
    include /_inc/meta.jade
    title Wedding Ceremony Music Player
  body#top
    //- Begin Page-Specific Content

    #viewport
      #jp_container_1.track-tile(data-player="jplayer_1")
        #jquery_jplayer_1.jp-jplayer(data-player="jplayer_1")
        .background
          h3 Bob's Entrance
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out

      #jp_container_2.track-tile(data-player="jplayer_2")
        #jquery_jplayer_2.jp-jplayer(data-player="jplayer_2")
        .background
          h3 Amy's Entrance
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out
        hr

      #jp_container_3.track-tile(data-player="jplayer_3")
        #jquery_jplayer_3.jp-jplayer(data-player="jplayer_3")
        .background
          h3 Star Trek Intro
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out
        hr

      #jp_container_4.track-tile(data-player="jplayer_4")
        #jquery_jplayer_4.jp-jplayer(data-player="jplayer_4")
        .background
          h3 Background 1
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out

      #jp_container_5.track-tile(data-player="jplayer_5")
        #jquery_jplayer_5.jp-jplayer(data-player="jplayer_5")
        .background
          h3 Background 2
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out

      #jp_container_6.track-tile(data-player="jplayer_6")
        #jquery_jplayer_6.jp-jplayer(data-player="jplayer_6")
        .background
          h3 Background 3
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out
        hr

      #jp_container_7.track-tile(data-player="jplayer_7")
        #jquery_jplayer_7.jp-jplayer(data-player="jplayer_7")
        .background
          h3 Recessional
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out


    //- END Page-Specific Content
    include /_inc/scripts.jade
