html(lang="en-us")
  head
    include /_inc/meta.jade
    title Wedding Ceremony Music Player
  body#top
    //- Begin Page-Specific Content

    #end-screen
      h1 and.... We're done!
      h5 Thanks for being the DJ :)
      
    #viewport
        
      #jp_container_1.track-tile(data-player="jplayer_1")
        #jquery_jplayer_1.jp-jplayer(data-player="jplayer_1")
        .background
          h3 Processional
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out
            li
              button.jp-fadeout-cancel.button
                span.label-static Undo
          span.label-count
            span.content 5
                

      #jp_container_2.track-tile(data-player="jplayer_2")
        #jquery_jplayer_2.jp-jplayer(data-player="jplayer_2")
        .background
          h3 Bridal March
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out
            li
              button.jp-fadeout-cancel.button
                span.label-static Undo
          span.label-count
            span.content 5
        hr

      #jp_container_3.track-tile(data-player="jplayer_3")
        #jquery_jplayer_3.jp-jplayer(data-player="jplayer_3")
        .background
          h3 Recessional
          .jp-current-time
          .jp-duration
          ul
            li
              button.jp-play.button
                span.bars
                  span.bar
                  span.bar
                  span.bar
                  span.bar
                span.label-play play
            li
              button.jp-fadeout.button Fade Out
            li
              button.jp-fadeout-cancel.button
                span.label-static Undo
          span.label-count
            span.content 5


    //- END Page-Specific Content
    include /_inc/scripts.jade
