meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(name="description" content="Wedding Ceremony Music Player")
link(rel="stylesheet" href="vendor/jquery-ui/jquery-ui.css")
link(rel="stylesheet" href="css/main.css")
//-link(rel="stylesheet" href="css/pure-custom-min.css")
//-link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
//-link(rel="shortcut icon" href="img/favicon.ico")
//-link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css")
