//- Javascript
script(src="vendor/jquery-1.12.1.min.js")
script(src="vendor/jplayer/jquery.jplayer.min.js")
script(src="vendor/jplayer/jquery.jplayer.fade.js")
script(src="vendor/jquery-ui/jquery-ui.js")
script(src="js/wcmp.js")
